body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin: 20px;
}

#grid {
    display: grid;
    margin-top: 30px;
    border: 1px solid #000000;
}

.cell {
    width: 20px;
    height: 20px;
    border: 1px solid #2a2a2a;
    background-color: #2a2a2a;
    transition: background-color 0.2s;
}

.cell.alive {
    background-color: #00ff33;
}

button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.controls {
    position: fixed; /* 固定位置に設定 */
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000; /* 他の要素の上に表示 */
}


.horizontal-buttons {
    display: flex;
}

.controls button {
    margin: 5px;
    padding: 10px;
    font-size: 16px; /* モバイル向けにフォントサイズを調整 */
}

@media (hover: none) {
    .controls button {
        width: 60px; /* ボタンの幅を固定 */
        height: 60px; /* ボタンの高さを固定 */
    }
}

